@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body{
    background-color: black;
    font-family:  'Concert One', cursive;
    color: aliceblue;
}

.titulo{
    color: rgb(223, 223, 223);
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 40px;
    
}
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{

    text-align: center;
    font-size: 25px; 
    width: 200px;
    height: 200px;
    background-color: rgb(115, 95, 50);
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
}

.tarjeta-de-mokepon img{
    width: 100px;
    height: 100px;
}

.tarjeta-de-mokepon:hover{
    background-color:rgb(40, 42, 58);
}

input:checked + label{

    background-color: rgb(40, 42, 58);

}


#boton-mascotas{
    font-family: 'Concert One', cursive;
    height: 60px;
    width: 200px;
    margin: 15px;
    background: transparent;
    color: aliceblue;
    font-size: large;
    border: 3px solid white;
    border-radius: 20px;
    margin: 30px 20px 30px 20px;
    
}
#boton-mascotas:hover{
    background-color: rgb(40, 42, 58);
}

input{
    display: none;
}

#seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-ataque{
    font-family: 'Concert One', cursive;
    height: 60px;
    width: 200px;
    margin: 15px;
    background: transparent;
    color: aliceblue;
    font-size: large;
    border: 3px solid white;
    border-radius: 20px;
    margin: 30px 20px 30px 20px;
}
.boton-ataque:hover{
    background-color: rgb(40, 42, 58);
}

#mensajes{
    height: 100px;
    width: 300px;
    background-color:rgb(115, 95, 50); 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ataquesDelJugador{
    text-align: center;
}
#ataquesDelEnemigo{
    text-align: center;
}
#boton-reiniciar{
    border: none;
    background: transparent;
    color: rgb(40, 42, 58);
}

.ataques{
    display: grid;
    grid-template-columns: 200px 200px;
    margin-top: 30px;
}

.caja-mensajes{
    text-align: center;
}

#contenedor-ataques{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ver-mapa{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mapa{
    border: 3px solid white;
}
 

#direcciones-horizontales{
    display: flex;
    flex-direction: row;
}
#direcciones-verticales{
    display: flex;
    flex-direction: column;
}


@media(max-width: 360px){
    .tarjetas{
        flex-direction: column;
    }
    h2{
        text-align: center;
    }
    .titulo{
        font-size: 40px;
    }
    .boton-ataque{
        font-family: 'Concert One', cursive;
        height: 60px;
        width: 200px;
        margin: 15px;
        background: transparent;
        display: flex;
        color: aliceblue;
        font-size: large;
        border: 3px solid white;
        border-radius: 20px;
        margin: 30px 20px 30px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
}
